.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateX(2em);
  -webkit-transform: translateX(2em);
  -moz-transform: translateX(2em);
  -ms-transform: translateX(2em);
  -o-transform: translateX(2em);
}

.fade-delay-enter-active {
  transition-duration: 0.1s;
  transition-delay: 0.25s;
  transition-property: opacity;
  transition-timing-function: ease-in;
  overflow: hidden !important;
}

.fade-delay-enter,
.fade-delay-leave-active {
  opacity: 0 !important;
}
